gunicorn==20.1.0
Django==3.2.14
asgiref                              
bleach                              
cachelib                             
certifi                               
chardet                              
charset-normalizer                              
click                              
colorama                              
contourpy                               
cs50                              
cycler                                                             
django-markdownify                              
et-xmlfile                              
Flask                              
Flask-Session                             
fonttools                              
greenlet                               
gTTS                                                           
idna                               
itsdangerous                               
jinja-markdown                               
Jinja2                               
kiwisolver                               
Markdown                               
markdown2                               
MarkupSafe                               
matplotlib                               
mysql-connector-python                              
numpy                              
openai                              
openpyxl                              
packaging                              
pandas                              
pandas-stubs                               
Pillow                              
protobuf                              
psycopg2                              
Pygments                              
pymdown-extensions                               
pyparsing                               
python-dateutil                               
pytz                               
requests                               
six                               
SQLAlchemy                               
sqlparse                               
stripe                               
termcolor                               
tinycss2                               
toml                               
tqdm                               
tradingeconomics                               
types-pytz                               
tzdata                               
urllib3                              
webencodings                               
websocket-client                               
Werkzeug                               
xlwt                               
