
.pac-container:after {
    /*Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
}

.pac-container {
    z-index: 10000 !important;
}

.job-post:hover, .message:hover, .myApplications:hover, .openApplicationBtn:hover {
    cursor: pointer;
}

.scrollspy-example {
    position: relative;
    height: 400px;
    overflow: auto;
}
#postBox {
    position: fixed;
}

.applicationContainer {
    border-radius: 15px;
}

.searchBarLabel {
    color: #00649A;
}