{% extends "jobbase/layout.html" %}

{% block body %}
    <div class="container mt-5 p-5" id="main">
    </div>

    <div class="container">
        <button class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#modal7" id="modal7Btn">Open</button> 
        <div class="modal fade" id="modal7">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" id="modalClassDiv">
                <div class="modal-content">
                    <div class="modal-header">
                        <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="#00649A" class="bi bi-chat-left-dots" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M5 6a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm4 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>
                        <h4 class="mt-1 ms-2 fw-bold" id="messageModalHeader"></h4>
                        <button class="btn-close" data-bs-dismiss="modal" data-bs-target="#modal7"></button>
                    </div>
                    <div class="modal-body p-5" id="messagesModalBody">
                    </div>
                    <div class="modal-footer border-0">
                        <div class="container px-5 py-4">
                            <textarea class="form-control shadow-sm" name="messageContent" id="messageContent" cols="15" rows="10" placeholder="Write message..." required></textarea>
                            <button class="btn btn-primary col-12 mt-2" id="msgSendBtn">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                                    <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                                </svg>
                                <span class="visually-hidden">Button</span>
                            </button> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}